.header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
}

.header i {
  margin-right: 0.5rem;
}

.Header-alert {
  background: red;
  width: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button {
  display: flex;
}

.header-link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 320px) {
  .Header-alert {
    background: red;
    width: 1rem;
    border-radius: 1rem;
  }
}
