.header {
  display: flex;
  justify-content: space-between;
}

.header i {
  margin-right: 0.5rem;
}

.Header-alert {
  background: red;
  width: 1rem;
  border-radius: 1rem;
}

.header-button {
  display: flex;
}

.header-link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
