.App {
  text-align: center;
  padding: 0.5rem;
}

.bg_light {
  background-color: #fff;
  color: #131c21;
  height: 100vh;
}

.bg_dark {
  background-color: #131c21;
  color: #fff;
  height: 100%;
}
